<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

        <% if (webpackConfig.htmlElements.headTags) { %>
            <%= webpackConfig.htmlElements.headTags %>
        <% } %>
    </head>

    <body>
        <app>
            Loading...
        </app>

        <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
            <script src="/webpack-dev-server.js"></script>
        <% } %>
    </body>
</html>
